$primary: #00a6ed;
$danger: #f6511d;
$warning: #f6b11d;
$success: #7fb800;

$on-primary: #fff;
$on-warning: #fff;
$on-danger: #fff;
$on-success: #fff;

$background: #f6f6f6;
$surface: #fff;

$dark-surface: #331c20;

$text-primary: #331c20;
$text-secondary: #a3a3a3;
$text-light: $background;

$border: #e6e6e6;
