@use "../../modules/units.module";
@use "../../modules/colors.module";
@use "../../modules/typography.module";

.button {
  padding: 0 units.$unit * 2;
  min-width: units.$unit * 25;

  border: none;
  outline: none;
  border-radius: units.$round;

  transition: 0.16s ease-in-out;
  cursor: pointer;

  @include typography.button;
}

.button_link {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

.button_inherit {
  &:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  }
}

.fullwidth {
  width: 100%;
}

.small {
  height: units.$small;
}

.medium {
  height: units.$medium;
}

.large {
  height: units.$large;
}

.inherit {
  background: colors.$dark-surface;
  color: colors.$text-light;
}

.primary_color {
  color: colors.$primary;
}
.success_color {
  color: colors.$success;
}
.danger_color {
  color: colors.$danger;
}
.warning_color {
  color: colors.$warning;
}
.inherit_color {
  color: colors.$text-light;
}

.contained_button {
  color: colors.$text-light;
}

.primary_bg {
  background: colors.$primary;
}
.success_bg {
  background: colors.$success;
}
.danger_bg {
  background: colors.$danger;
}
.warning_bg {
  background: colors.$warning;
}
.inherit_bg {
  background: colors.$text-light;
}

.button:disabled {
  cursor: default;
  background: rgb(206, 206, 206);
}
