@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";
@use "../../shared/modules/colors.module";

.header {
  z-index: 1000;
  display: flex;
  align-items: center;
  height: units.$header-height;
  background: colors.$surface;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);

  @include breakpoints.screen-lg {
    position: fixed;
    top: 0;
    left: units.$sidebar-width;
    width: 100%;

    .header_container {
      padding-left: units.$padding;
    }
  }
}
