@use "../../modules/units.module";
@use "../../modules/colors.module";

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
}

.small {
  height: units.$small;
  width: units.$small;

  svg {
    width: units.$small - units.$unit;
    height: units.$small - units.$unit;
  }
}

.medium {
  height: units.$medium;
  width: units.$medium;
  svg {
    width: units.$medium - units.$unit;
    height: units.$medium - units.$unit;
  }
}

.large {
  height: units.$large;
  width: units.$large;
  svg {
    width: units.$large - units.$unit;
    height: units.$large - units.$unit;
  }
}
