@use "../../shared/modules/colors.module";
@use "../../shared/modules/breakpoints.module";
@use "../../shared/modules/units.module";
@use "../../shared/modules/presets.module";

.sidebar {
  z-index: 2;
  padding-left: units.$paddingX;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: units.$sidebar-width;
  background: colors.$surface;
  overflow-x: hidden;

  box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);

  @include breakpoints.screen-sm {
    flex-shrink: 0;
    position: static;
  }
  @include breakpoints.screen-lg {
    position: fixed;
  }
}

.closed {
  display: none;
}

.opened {
  display: block;
}

.sidebar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: units.$header-height;
}

.logo_wrap {
  display: flex;
  align-items: flex-start;
  gap: units.$unit;
}

.sidebar_middle {
  padding: units.$unit * 5 0;

  display: flex;
  flex-direction: column;
  gap: units.$unit * 5;
  flex-wrap: nowrap;
  overflow-y: auto;

  max-height: calc(100vh - units.$header-height);
  @include presets.scrollbar-small;
}

.closing {
  animation: closing-anim forwards linear 0.75s;
}

.opening {
  animation: opening-anim forwards linear 0.75s;
}

@keyframes closing-anim {
  0% {
    left: 0;
  }
  50% {
    left: -70%;
  }
  100% {
    left: -100%;
  }
}

@keyframes opening-anim {
  0% {
    left: -100%;
  }
  50% {
    left: -30%;
  }
  100% {
    left: 0;
  }
}

.open_button {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 50%;

  margin: 0;
  padding: 0;

  background: colors.$surface;
  height: units.$unit * 15;

  outline: none;
  border: none;
  border-radius: 0 50% 50% 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);

  transform: translate(0, -50%);
}
